<%- include ('../Common/header')%>
<%- include ('../Common/menu')%>    

<main class="mb-4">
    <div class="bg-light p-5 mb-4">
        <div class="container text-center">
            <h1>Nova notícia</h1>

        </div>
    </div>
    <div class="container">
        <form action="">
            <div class="mb-3">
                <label for="" class="form-lable"><Título></label>
                <input type="text" class="form-control" placeholder="Titulo da noticia" required>
            </div>
            <div class="mb-3">
                <label class="form-lable" for="">Conteúdo</label>
                <textarea class="form-control" name="" id="conteudo" cols="30" rows="10" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-100">Criar</button>
        </form>
    </div>
</main>
        
<%- include ('../Common/footer')%>